<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GTI_v4.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GTI_v4.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value>GTI</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>DEUTSCH</value>
            </setting>
            <setting name="DataBaseReal" serializeAs="String">
                <value>Tributacao</value>
            </setting>
            <setting name="DataBaseTeste" serializeAs="String">
                <value>TributacaoTeste</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_Anexo" serializeAs="String">
                <value>C:\Trabalho\GTI\Documentos\</value>
            </setting>
            <setting name="gti_001_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_002_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_003_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_004_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Form_Config_Size" serializeAs="String">
                <value>255, 463</value>
            </setting>
            <setting name="Form_Config_Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="Path_Report" serializeAs="String">
                <value>D:\Work\GTI_v4\Reports</value>
            </setting>
            <setting name="Form_Processo_Lista_Size" serializeAs="String">
                <value>700, 450</value>
            </setting>
            <setting name="Form_Processo_Tramite_Size" serializeAs="String">
                <value>810, 418</value>
            </setting>
        </GTI_v4.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>