<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GTI_v4.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GTI_v4.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value>GTI</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>200.232.123.115</value>
            </setting>
            <setting name="DataBaseReal" serializeAs="String">
                <value>Tributacao</value>
            </setting>
            <setting name="DataBaseTeste" serializeAs="String">
                <value>TributacaoTeste</value>
            </setting>
            <setting name="Form_Extrato_width" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Form_Extrato_height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form_Processo_Tramite_width" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="Form_Processo_Tramite_height" serializeAs="String">
                <value>368</value>
            </setting>
            <setting name="Form_Processo_Lista_width" serializeAs="String">
                <value>810</value>
            </setting>
            <setting name="Form_Processo_Lista_height" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="Path_Anexo_Local" serializeAs="String">
                <value>C:\Trabalho\GTI\Documentos\</value>
            </setting>
            <setting name="Path_Anexo_Net" serializeAs="String">
                <value>\\192.168.200.130\atualizagti\documentos\</value>
            </setting>
            <setting name="gti_001_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_002_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_003_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gti_004_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Form_Report_width" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Form_Report_height" serializeAs="String">
                <value>600</value>
            </setting>
        </GTI_v4.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>